<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <script type="text/javascript">          var active_page = "thread", board_name = "综合版1", thread_id = "1966";</script>
    <link href="/stylesheets/style.css" rel="stylesheet" media="screen">

    <link rel="shortcut icon" type="image/x-icon" href="/favicon" />    

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <link href="https://cdn.bootcss.com/font-awesome/5.12.1/css/fontawesome.min.css" rel="stylesheet">
    <link href="/static/flags.css" rel="stylesheet">
    <script type="text/javascript">var configRoot = "/"; var inMod = false; var modRoot = "/" + (inMod ? "mod.php?/" : "");</script>
    <script src="/static/main.js" type="text/javascript"></script><link id="stylesheet" href="/stylesheets/yotsuba.css" rel="stylesheet" type="text/css"><link id="code_stylesheet" href="undefined" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/static/post-hover.js" type="text/javascript"></script>
    <script src="/static/show-op.js" type="text/javascript"></script>
    <script src="/static/mobile-style.js" type="text/javascript"></script>
    <script src="/static/strftime.min.js" type="text/javascript"></script>
    <script src="/static/local-time.js" type="text/javascript"></script>
    <script src="/static/inline-expanding.js" type="text/javascript"></script>
    <script src="/static/compact-boardlist.js" type="text/javascript"></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/core.js"></script>
    <meta name="twitter:card" value="summary">
    <meta content="article" property="og:type">
    <title>综合版</title>
</head>

<body class="8chan vichan is-not-moderator active-thread" id="thread" data-stylesheet="default">
    <div class="bar top">
        <div class="boardlist">
            <a title="综合版1" href="/">综合版1</a></div>
        <script type="text/javascript">if (typeof do_boardlist != 'undefined') do_boardlist();</script>
    </div><a name="top"></a>
    <div id="pagewrap">
        <header>
            <h1 class="glitch" data-text="/综合版1/ - 综合版1">/综合版1/ - 综合版1</h1>
            <div class="subtitle">测试版0.1</div>
        </header>
        <form name="post" onsubmit="return dopost(this);" action="/post" enctype="multipart/form-data" method="post">
            <input type="hidden" name="subsection" id="subsection" value="1" />
            <input type="hidden" name="reply" id="reply" value="{{ tid }}" />
            <table>
                <tbody>
                <tr>
                    <td colspan="2">
                        <div class="banner">Posting mode: Reply <a class="unimportant" href="/">[Return]</a></div>
                    </td>
                </tr>
                <tr>
                    <th>Subject</th>
                    <td>
                        <input name="subject" style="float:left;" type="text" size="25" maxlength="100" autocomplete="off">
                        <input name="post" accesskey="s" style="margin-left:2px;" type="submit" value="Reply">
                        <!-- <input name="spoiler" id="spoiler" type="checkbox">
                        <label for="spoiler">Spoiler Image</label> -->
                    </td>
                </tr>
                <tr>
                    <th>Comment</th>
                    <td><textarea name="comment" id="comment" rows="5" cols="35"></textarea></td>
                </tr>
                <tr id="upload">
                    <th>File</th>
                    <td><input name="file" id="upload_file" type="file">
                        <script type="text/javascript">if (typeof init_file_selector !== 'undefined') init_file_selector(1);</script>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

        <script type="text/javascript">rememberStuff();</script>
        <hr>
        <div class="threadlinks-noup"><span class="threadlink">[ <a href="/">Return</a> /</span><span class="threadlink"><a style="padding-left: 10px" href="#bottom"> Go to bottom</a> ]</span></div>
        <hr>
        <form name="postcontrols" action="/post" method="post">
            <input name="subsection" type="hidden" value="1">

            <div class="thread" id="thread_1966" data-board="综合版1"><a class="post_anchor" id="1966"></a>

                {% for post in posts %}
                 
                {% if loop.first %}

                <div class="files"> 
                    <div class="file">
                        <p class="fileinfo">File: 
                            <a href="/static/1584969925944.png" target="_blank">1584969925944.png</a> 
                            <span class="details">(669.57 KB, 886x1300, <span class="postfilename">1584969925944.png</span>)</span>
                        </p>
                        <a href="/static/1584969925944.png" target="_blank">
                            <img class="post-image" src="/static/1584969925944.png" alt="">
                        </a>
                    </div>
                </div>

                <div class="post op" id="op_1966">
                    <p class="intro">
                        <input name="delete_1966" class="delete" id="delete_1966" type="checkbox">
                        <label for="delete_1966">
                        <span class="subject">{{ post.subject }}</span> 
                            <span class="name">{{ post.auth }}</span> 
                            <time datetime="{{ post.pdate }}">{{ post.pdate }}</time>
                        </label>
                        &nbsp;
                        <a class="post_no" id="post_no_1966" onclick="highlightReply(1966)" href="/res/{{ post.pid }}#1966">No.</a>
                        <a class="post_no" onclick="citeReply(1966)" href="/res/{{ post.pid }}#q1966">{{ post.pid }}</a>
                    </p>
                    <div class="body"  type="float:left;">
                        {{ post.comment }}
                    </div>
                </div>

                {% else %}

                <div class="postcontainer" id="pc1967" data-board="综合版1">
                    <div class="sidearrows">&gt;&gt;</div>
                    <div class="post reply" id="reply_1967">
                        <p class="intro">
                            <a class="post_anchor" id="1967"></a>
                            <input name="delete_1967" class="delete" id="delete_1967" type="checkbox">
                            <label for="delete_1967">
                                <span class="name">{{ post.auth }}</span> 
                                <time datetime="{{ post.pdate }}">{{ post.pdate }}</time>
                            </label>
                            &nbsp;
                            <a class="post_no" id="post_no_1967" onclick="highlightReply(1967)" href="/res/{{ post.pid }}#1967">No.</a>
                            <a class="post_no" onclick="citeReply(1967)" href="/res/{{ post.pid }}#q1967">{{ post.pid }}</a>
                        </p>

                        <div class="files">
                            <div class="file">
                                <p class="fileinfo">File: 
                                    <a href="/static/1584969925944.png" target="_blank">1585402250829.png</a>
                                    <span class="details">(32.46 KB, 800x473, <span class="postfilename">1585385749951.png</span>)
                                    </span>
                                </p>
                                <a href="/static/1584969925944.png" target="_blank">
                                    <img class="post-image" alt="" src="/static/1584969925944.png">
                                </a>
                            </div>
                        </div>

                        <div class="body" type="float:left;">
                            {{ post.comment }}
                        </div>
                    </div>
                </div>
                {% endif %} 
                
                {% endfor %}

                <br><br class="clear">
                <hr>
            </div>

            <div id="thread-interactions">
                <span id="thread-links">
                    <a id="thread-return" href="/综合版1/index.html">[Return]</a>
                    <a id="thread-top" href="#top">[Go to top]</a> 
                    <!-- <a id="thread-catalog" href="/综合版1/catalog.html">[Catalog]</a> |  -->
                    <a id="thread-home" href="/">[Home]</a>
                </span>
                <span id="thread-quick-reply">
                    <a id="link-quick-reply" href="#">[Post a Reply]</a>
                    </span>
                <div id="post-moderation-fields">
                    <div id="report-fields"><label for="reason">Reason</label>
                        <input name="reason" id="reason" type="text" size="20" maxlength="100">
                        <input name="report" type="submit" value="Report">
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </form>
        <div class="boardlist bottom"><a title="综合版1" href="/综合版1/index.html">综合版1</a></div>
        <footer>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p class="unimportant" style="margin-top:20px;text-align:center;">
                Copyright &copy; 2014 - {{ year }} Pantopoda
            </p>
            <p class="unimportant" style="text-align:center;">All trademarks, copyrights, comments, and images on this page are owned by and are the responsibility of their respective parties.</p>
            <p class="unimportant" style="text-align:center;">We have no fear</p>
        </footer>
    </div>
    <div class="bar bottom">
        <div class="threadlinks">
            <span class="threadlink">[ <a href="/">Return</a> /</span> <span class="threadlink"><a style="padding-left: 10px" href="#"> Go to top</a> /</span>
        </div>
        <div class="pages"></div>
    </div>
    <script type="text/javascript">ready();</script>

    <!-- <div class="styles">
        <a href="javascript:void(0);">[Yotsuba B]</a>
        <a class="selected" href="javascript:void(0);">[Yotsuba]</a>
        <a href="javascript:void(0);">[经典主题]</a>
        <a href="javascript:void(0);">[夜间模式]</a>
        <a href="javascript:void(0);">[Miku~]</a>
    </div> -->

    <a id="bottom" href="#"></a>


</body></html>